

body {
  padding-top: 2.2rem;
  background-color: rgba(16, 111, 116, 0.814) !important;
}

.c1 {
  width: 480px !important;
}
 
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
