* {
  font-family: "Mulish";
}
body {
  background-image: url(ProjectImage/galaxy.gif);
}
.heading {
  margin-top: 2.5%;
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
}
img {
  width: 65%;
}
input {
  outline: none;
  height: 36px;
  border-radius: 2px;
}
input::placeholder {
  padding-left: 4%;
  font-size: 15px;
}
select {
  height: 35px;
  border-radius: 5px;
  outline: none;
}

.btn-click {
  height: 37px;
  background-color: rgba(128, 128, 128, 0.695);
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.banner {
  background-color: rgba(245, 245, 245, 0.144);
}
#weight {
  padding: 10px;

  /* border-radius: 50%; */
  color: white;
  background-color: rgba(245, 245, 245, 0.174);
}
.banner-in {
  background-color: rgba(245, 245, 245, 0.159);
  color: white;
  font-size: 20px;
}
span {
  font-weight: 800;
}

#default {
  margin-top: 10%;
  margin-left: 14.2%;
}
#required-msg1 {
  display: none;
  margin-top: 10%;
  padding-top: 12%;
  height: 80%;
  text-align: center;
  color: white;
  background-color: rgba(245, 245, 245, 0.159);
}
#required-msg2 {
  display: none;
  margin-top: 10%;
  padding-top: 12%;
  height: 80%;
  text-align: center;
  color: white;
  background-color: rgba(245, 245, 245, 0.159);
}
